---
const {ask, answer} = Astro.props;
---

<div class="border-2 rounded-xl">
    <!-- Header Container -->
 <div>
   <h3>{ask}</h3>
   <div>
        <p></p>
   </div>
   <div></div>
 </div>
    <!-- Body Container -->
    <div class="p-5 bg-[#F5F5F5] rounded-b-xl">
        <p class="text-[#333333] font-medium text-md">{answer}</p>
    </div>
</div>